.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#articleContents__body {
  font-size: 20px; 
}

.articleVotes__button {
  background-color: white;
  border: none; 
  font-size: 25px;
  cursor: pointer; 
  margin: 7px;
}

.articleVotes__button--activated {
  background-color: white;
  border: none; 
  font-size: 35px;
  cursor: pointer; 
  margin: 7px;
}

.articleVotes__button:hover {
  cursor: pointer; 
}

.articleVotes__button:active {
  font-size: 20px; 
}

.articleVotes__voteErr--hidden {
  visibility: hidden;
}

.articleVotes__voteErr--visible {
  color: red;
}

.postComment__container {
  display: grid; 
  justify-content: center;
}

.postComment__textField {
  width: 350px; 
  height: 200px; 
  margin-bottom: 20px;
}

.postComment__submitButton {
  width: 200px; 
  height: 50px; 
  background-color: rgb(100, 180, 255);
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 1px 1px;
}

.postComment__submitButton:hover {
  opacity: 0.8
}


.article-preview {
  background-color: beige;
  margin: 5px;
  border-radius: 25px;
  padding: 2px;
}

.dropdown-item {
  background: rgb(248, 186, 197);
  width: 400px;
  margin: 10px;
  border-radius: 15px; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
