@import url('http://fonts.cdnfonts.com/css/gotham');

.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

#articleContents__body {
  font-size: 20px; 
}

.articleVotes__button {
  background-color: white;
  border: none; 
  font-size: 25px;
  cursor: pointer; 
  margin: 7px;
}

.articleVotes__button--activated {
  background-color: white;
  border: none; 
  font-size: 35px;
  cursor: pointer; 
  margin: 7px;
}

.articleVotes__button:hover {
  cursor: pointer; 
}

.articleVotes__button:active {
  font-size: 20px; 
}

.articleVotes__voteErr--hidden {
  visibility: hidden;
}

.articleVotes__voteErr--visible {
  color: red;
}

.postComment__container {
  display: grid; 
  justify-content: center;
}

.postComment__textField {
  width: 350px; 
  height: 200px; 
  margin-bottom: 20px;
}

.postComment__submitButton {
  width: 200px; 
  height: 50px; 
  background-color: rgb(100, 180, 255);
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 1px 1px;
}

.postComment__submitButton:hover {
  opacity: 0.8
}


.article-preview {
  background-color: beige;
  margin: 5px;
  border-radius: 25px;
  padding: 2px;
  text-decoration: none;
}

.dropdown-item {
  background: rgb(248, 186, 197);
  width: 400px;
  margin: 10px;
  border-radius: 15px; 
}

nav {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 70px; 
  display: flex;
  position: sticky; 
  top: 0;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; 
  padding: 0 1rem; 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: inherit; 
}

#home-icon {
  font-size: 30px;
}

article {
  margin: 10px;
}

.title-container {
  display: grid; 
  grid-template-areas: "title"
                       "details";
}

.article-details {
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  gap: 15px; 
  margin-left: 15px;
  font-family: gotham light;
}

#article-title {
 grid-area: title;
 text-align: left;
 margin: 15px; 
}

#article-topic {
  text-decoration: none;
}

